{% extends 'frontend.html.twig' %}
{% block title %}
	{{ 'Vive tu música'|trans }}
{% endblock %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/reproductor.css') }}">
	<link rel="stylesheet" href="{{ asset('css/navUsuario.css') }}">
	<style>
		.carousel-item img {
			width: 40%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		.carousel-inner {
			height: 300px;
		}
		.generosSelector {
			background-color: #f8f9fa;
			border: 1px solid #ced4da;
			background-color: #000000a1;
			border: 1px solid #00000017;
			color: white;
		}
		.card-img-top {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}

		.card {
			height: 100%; /* Asegura que la tarjeta llene el espacio del contenedor */
		}

		.card-body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%; /* Asegura que el cuerpo de la tarjeta llene el espacio disponible */
		}

		.card-title {
			font-size: 1.25rem; /* Ajusta el tamaño del título según tus necesidades */
		}

		.card-text {
			font-size: 1rem; /* Ajusta el tamaño del texto según tus necesidades */
		}
		.song-card {
			cursor: pointer;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
		}

		.song-card:hover {
			transform: scale(1.05);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		}
	</style>
{% endblock %}

{% block body %}
	{% include 'nav.html.twig' %}
	<section class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<h1>{{ 'discover_new_music'|trans }}</h1>
					<p>{{ 'find_next_song'|trans }}</p>
					<a href="#" class="btn-play" id="discover-music">
						<i class="fas fa-play"></i>
					</a>
				</div>
				<div class="col-md-6">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div
							class="carousel-inner" id="carousel-images"><!-- Las imágenes se insertarán aquí dinámicamente -->
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Siguiente</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<h1 class="titulo-destacado">{{ 'highlighted_songs'|trans }}</h1>
	<section class="featured-songs container-fluid">
		<div class="container" style="padding: 100px; padding-top: 0;">
			<div class="genre-selection mb-4">
				<label for="genero-select">{{ 'select_genre'|trans }}</label>
				<select id="genero-select" class="form-control generosSelector" onchange="filterByGenre()">
					<option value="">{{ 'Todos'|trans }}</option>
					{% for genero in generos %}
						<option value="{{ genero }}" {% if genero_seleccionado == genero %} selected {% endif %}>{{ genero|trans }}</option>
					{% endfor %}
				</select>
			</div>
			<div id="contenedorCanciones">
				{% include 'home/_canciones.html.twig' with {
                    'datosCanciones': datosCanciones,
                    'paginaActual': paginaActual,
                    'totalPaginas': totalPaginas,
                    'favoritos': favoritos
                } %}
			</div>
		</div>
	</section>

	{% include 'reproductor.html.twig' with {
        cancion: cancion_actual,
        tiempo: tiempo_actual,
        volumen: volumen_actual,
        corazon: corazon_actual
    } only %}
{% endblock %}

{% block custom_javascripts %}
	<script src="{{ asset('js/main.js') }}"></script>
	<script src="{{ asset('js/incrementarReproduccion.js') }}"></script>
	<script src="{{ asset('js/carruselPubli.js') }}"></script>
	<script>
		function filterByGenre() {
const genero = document.getElementById('genero-select').value;
const url = new URL(window.location.href);
url.searchParams.set('genero', genero);
window.location.href = url.toString();
}
	</script>
{% endblock %}
