{# templates/admin/crearArtista.html.twig #}
{% extends 'frontend.html.twig' %}

{% block title %}Crear Artista{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <section class="container min-vh-100 d-flex justify-content-center align-items-center text-center" 
    style="background-color: #00000091;margin-top: 40px;">
        <h1 class="text-center mb-4">Crear Nuevo Artista</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
                        <div class="form-group mb-3">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nombre) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.anoDebut) }}
                            {{ form_widget(form.anoDebut, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.anoDebut) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.paisOrigen) }}
                            {{ form_widget(form.paisOrigen, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.paisOrigen) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.biografia) }}
                            {{ form_widget(form.biografia, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.biografia) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.imgArtista) }}
                            {{ form_widget(form.imgArtista, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.imgArtista) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.user) }}
                            {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.user) }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
