{% extends 'frontend.html.twig' %}

{% block title %}Administración
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
	<section class="container-fluid container-admin min-vh-100 justify-content-center align-items-center text-center">
		<a href="{{ path('app_admin') }}" class="btn btnVolverAdmin">
			<i class="fas fa-arrow-left"></i>
			Volver al Menú Administrador
		</a>
		<h1>Gestión de Usuarios</h1>

		{% include 'mensajesFlash.html.twig' %}

		<div class="container">
			<form id="searchForm" class="input-group mb-3">
				<input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre de usuario...">
				<button type="submit" class="btn btn-outline-secondary">
					<i class="fas fa-search lupa"></i>
				</button>
			</form>
		</div>

		<div class="table-responsive">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<caption>
					<h2 class="caption">
						Usuarios
					</h2>
				</caption>
			</div>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Email</th>
						<th>Fecha Registro</th>
						<th>Foto</th>
						<th>Roles</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for dato in datos %}
						<tr>
							<td>{{dato.id}}</td>
							<td>{{dato.nombre}}</td>
							<td>{{dato.apellidos}}</td>
							<td>{{dato.email}}</td>
							<td>{{dato.fechaRegistro|date('Y')}}</td>
							<td>{{dato.foto}}</td>
							<td>
								{% for rol in dato.roles %}
									{{ rol }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</td>
							<td>
								<a href="{{ path('app_editarUsuarioRoles', {'id': dato.id}) }}">
									<button type="button" class="btn btn-outline-secondary">
										<i class="fa-regular fa-pen-to-square"></i> Gestionar Roles
									</button>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<script>
		$(document).ready(function () {
			$('#searchForm').submit(function (event) {
				event.preventDefault();
				var searchText = $('#searchInput').val().toLowerCase();
				$('table tbody tr').each(function () {
					var userName = $(this).find('td:eq(1)').text().toLowerCase();
					if (userName.indexOf(searchText) === -1) {
						$(this).hide();
					} else {
						$(this).show();
					}
				});
			});
		});
	</script>
{% endblock %}
