{% extends 'frontend.html.twig' %}

{% block title %}Administración
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
	{% include 'nav.html.twig' %}
	<section class="container-fluid container-admin min-vh-100 justify-content-center align-items-center text-center">
		<h1>Menú Administrador</h1>
		<div class="container contenedor-botones">
			<div class="row mt-4">
				<div class="col-lg-3 col-md-6 mb-4">
					<button type="button" class="btn btnAdmin btn-block">
						<a href="{{ path('app_gestionContenido') }}" class="text-white text-decoration-none">Gestión de contenido</a>
					</button>

				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<button type="button" class="btn btnAdmin btn-block">
						<a href="{{ path('app_gestionUsuarios') }}" class="text-white text-decoration-none">Gestión de usuarios</a>
					</button>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<button type="button" class="btn btnAdmin btn-block">
						<a href="{{ path('app_estadisticas') }}" class="text-white text-decoration-none">Análisis y estadísticas</a>
					</button>
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<button type="button" class="btn btnAdmin btn-block">
						<a href="{{ path('app_gestionPublicidad') }}" class="text-white text-decoration-none">Gestión de Publicidad</a>
					</button>
				</div>
			</div>
		</div>

	</section>


{% endblock %}
