{# templates/album/verAlbum.html.twig #}
{% extends 'frontend.html.twig' %}

{% block title %}
	{{ album.nombre }}
{% endblock %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/reproductor.css') }}">
	<link rel="stylesheet" href="{{ asset('css/navUsuario.css') }}">
	<link rel="stylesheet" href="{{ asset('css/album.css') }}">
	<style>
		.album-image {
			width: 300px;
			height: 300px;
			object-fit: cover;
			border-radius: 50%;
			margin-top: 40px;
		}
		.song-card {
			cursor: pointer;
		}
		.song-card img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
		.card-title {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.featured-songs {
			margin-top: 0;
			margin-top: -11px;
		}
		.pie {
			background-color: #020202e8 !important; /* Color de fondo */
			color: #fff; /* Color del texto */
			padding: 20px 0; /* Espaciado interno */

		}
		.btn:not(:disabled):not(.disabled) {
			margin: 40px;
		}
		.text-left {
			margin-top: 144px;
		}
		.album-image {
			margin-top: 40px;
			margin-top: 98px;
		}
        .song-card {
			cursor: pointer;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
		}

		.song-card:hover {
			transform: scale(1.05);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		}
	</style>
{% endblock %}

{% block body %}
	{% include 'nav.html.twig' %}
	<h1 class="titulo-destacado">{{ album.nombre }}</h1>
	<section class="featured-songs container-fluid">
		<div class="container-fluid mt-4">
			<div class="row">
				<div class="col-md-4 text-center">
					<img src="{{ '/images/grupos/' ~ album.fotoPortada }}" alt="{{ album.nombre }}" class="album-image">
				</div>
				<div class="col-md-8 text-left">
					<h2 class="mt-3">{{ album.nombre }}</h2>
					<p>
						<strong>Artista:</strong>
						{{ album.artista.nombre }}</p>
					<p>
						<strong>Fecha de Lanzamiento:</strong>
						{{ album.fechaLanzamiento|date('Y-m-d') }}</p>
					<p>
						<strong>Duraci贸n Total:</strong>
						{{ album.duracionTotal }}</p>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-12">
					<h3 class="text-center">Canciones</h3>
					<div id="contenedorCanciones" class="row">
						{% for cancion in canciones %}
							{% set titulo_sin_extension = cancion.titulo|split('.')[0] %}
							<div class="col-md-3 mb-4">
								<div class="cardBtn">
									<div class="card song-card" data-audio-src="{{ asset('music/' ~ cancion.titulo) }}" data-cancion="{{ cancion.titulo }}" data-artista="{{ cancion.artista.nombre }}" data-id="{{ cancion.id }}" data-favorito="true" onclick="playSelectedSong(this)">
										<img src="{{ '/images/grupos/' ~ cancion.album.fotoPortada }}" alt="Canci贸n" class="song-image">
										<div class="card-body">
											<h5 class="card-title">{{ titulo_sin_extension }}</h5>
										</div>
										<div class="card-body">
											<h5 class="card-title">{{ cancion.artista.nombre }}</h5>
											<p class="card-text">Reproducciones: {{ cancion.numeroReproducciones }}</p>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="text-center mt-4">
				<a href="{{ path('app_home') }}" class="btn btn-primary">Volver a Principal</a>
			</div>
		</div>
	</section>
	{% include 'reproductor.html.twig' with {
        cancion: cancion_actual,
        tiempo: tiempo_actual,
        volumen: volumen_actual,
        corazon: corazon_actual
    } only %}
{% endblock %}

{% block custom_javascripts %}
	<script src="{{ asset('js/main2.js') }}"></script>
	<script src="{{ asset('js/incrementarReproduccion.js') }}"></script>
	<script>
		function playSelectedSong(element) {
const audioSrc = element.getAttribute('data-audio-src');
const audio = document.getElementById('audio');
const songTitle = document.getElementById('songTitle');
const artistName = document.getElementById('artistName');
const songImage = document.getElementById('song-image');

audio.src = audioSrc;
songTitle.textContent = element.querySelector('.card-title').textContent;
artistName.textContent = element.getAttribute('data-artista');
songImage.src = element.querySelector('img').src;
audio.play();

// Mostrar el bot贸n de pausa y ocultar el de reproducir
document.getElementById('playBtn').style.display = 'none';
document.getElementById('pauseBtn').style.display = 'block';
}

// Evento para actualizar el tiempo de reproducci贸n
document.getElementById('audio').ontimeupdate = function () {
const currentTime = document.getElementById('audio').currentTime;
document.getElementById('currentTime').textContent = new Date(currentTime * 1000).toISOString().substr(11, 8);
};
	</script>
{% endblock %}
